// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

&i2c0 {
    status = "okay";
	compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	mux: tca9548a@70 {
		compatible = "ti,tca9548a";
		reg = <0x70>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		ch0: mux_i2c@0 {
			compatible = "ti,tca9548a-channel";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			veml7700_0:veml7700@10{
				compatible = "vishay,veml7700";
				reg = <0x10>;
			};
		};

		ch1: mux_i2c@1 {
			compatible = "ti,tca9548a-channel";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			veml7700_1:veml7700@10{
				compatible = "vishay,veml7700";
				reg = <0x10>;
			};
        };
	};
};

&pinctrl{
    i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 25)>,
				<NRF_PSEL(TWIM_SCL, 0, 26)>;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 25)>,
				<NRF_PSEL(TWIM_SCL, 0, 26)>;
			low-power-enable;
		};
	};
};

&spi0 {
    status = "disabled";
};

/{
	aliases {
		i2c-channel-0 = &ch0;
		i2c-channel-1 = &ch1;
	};
};